@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>

<p>Программа предназначена для навигации по видам продукции</p>
<p>ОАО "БМЗ". Состоит из двух копонентов: веб-приложения и интерактивного чат-бота</p>
<p>Веб-приложение предназначено для наполнения базы данных продукции и обучения бота</p>