@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Поддержка:</strong>   <a href="pollux094@gmail.com">pollux094@gmail.com</a><br />
</address>