@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Интерактивный помощник</h3>
    <p class="lead">Данный портал позволяет конфигурировать базу данных, используемую интерактивным помощником</p>
</div>

@if (User != null && User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-3">
            <p><a class="btn btn-default" href="@Url.Action("All", "Category")">Категории</a></p>
        </div>
        <div class="col-md-3">
            <p><a class="btn btn-default" href="@Url.Action("All", "Product")">Продукция</a></p>
        </div>
        <div class="col-md-3">
            <p><a class="btn btn-default" href="@Url.Action("All", "Message")">Сообщения</a></p>
        </div>
        <div class="col-md-3">
            <p><a class="btn btn-default" href="@Url.Action("Main", "Learning")">Обучение</a></p>
        </div>
    </div>
}